<header>
  <nav>
    <ul>
      <li><a href="<%= new_user_registration_path %>">新規登録</a></li>
      <li><a href="<%= new_user_session_path %>">サインイン</a></li>
      <li><a href="<%= public_homes_about_path%>">アバウト</a></li>
      <li><a href="<%= public_posts_path %>">投稿一覧</a></li>
    </ul>
  </nav>
</header>
